<div class="trip_details row small-11 small-centered columns">
<h2>Start point: <br/><span class="address"><%= @trip.start_point_address %></span></h2>
<h2>Destination: <br/><span class="address"><%= @trip.end_point_address %></span></h2>
</div>