
<%= form_for(@trip) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :start_point_address, class: "radius", label: "Where are you starting?", placeholder: "start point", onFocus: "geolocate()" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :end_point_address, class: "radius", label: "Where are you going?", placeholder: "end point", onFocus: "geolocate()" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    <div id="travelmode_label" >How are you getting there?</div>
    <a href="#" class="button radius travelmode" id="driving">Driving</a>
    <a href="#" class="button radius travelmode" id="transit">Transit</a>
    <a href="#" class="button radius travelmode" id="bicycling">Bicycling</a>
    <a href="#" class="button radius travelmode" id="walking">Walking</a>
    </div>
  </div>  
  <div class="row">
    <div class="small-centered">
      <%= f.submit "Route my trip!", class: 'button radius', id: "submit_route"%>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  activateAutocomplete();
  assignTravelMode();
</script>
