<h1>Errands on the Way</h1>

<%= form_for(@trip) do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :start_point_address, label: "Where are you starting?", placeholder: "start point", onFocus: "geolocate()" %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :end_point_address, label: "Where are you going?", placeholder: "end point", onFocus: "geolocate()" %>
    </div>
  </div>
  <div class="row">
    <div class="small-centered">
      <%= f.submit "Route my trip!", class: 'button radius' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  activateAutocomplete();
</script>
