<h1>Errands on the Way</h1>

<%= form_for(@trip) do |f| %>
  <%= f.text_field :start_point_address, placeholder: "start-point" %>
  <%= f.text_field :end_point_address, placeholder: "end-point" %>
  <%= f.submit "Route my trip!"%>
<% end %>