<h1>Your trip</h1>

<h3>Trip Duration:</h3>

<form action="/options" method="get">
  <ol>
    <li><%= text_field_tag :search, nil, :placeholder => 'e.g. Laundry, Gas, Tacos' %></li>
    <li><%= submit_tag('Search') %></li>
  </ol>
</form>

