<%= form_tag('/options', method: 'get') do %>
  <ol>
    <li><%= text_field_tag :search, nil, :placeholder => 'e.g. Laundry, Gas, Tacos' %></li>
    <li><%= submit_tag('Search') %></li>
  </ol>

<% end %>