<div id="map-canvas" class="row small-11 small-centered columns"></div>

<div class="row">
  <div class="small-12 large-12 columns">
      <h2>Places on the way for: <%= @search_term %></h2>
  </div>
</div>
<div class="row">
    <h3>Start point</h3>
    <% @businesses.each do |business| %>
      <%= render 'trips/businesses_list', business: business %>
    <% end %>

</div>

<div id="map-canvas" class="row small-11 small-centered columns"></div>


<script type="text/javascript">
  var trip = <%= raw @trip.to_json.gsub('/', '\/') %>;
  var options = <%= raw @businesses.to_json.gsub('/', '\/') %>;
  renderOptionsMap(trip, options);
</script>
