---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/distancematrix/json?origins=460%20Fell%20St.%2C%20San%20Francisco%2C%20CA&destinations=633%20Folsom%20St.%2C%20San%20Francisco%2C%20CA&sensor=false&mode=WALKING&key=AIzaSyAAPig8eebUk6Vj79Fgd275gDQfOvFqYnU
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      alternate-protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "destination_addresses" : [ "633 Folsom Street, San Francisco, CA 94107, USA" ],
           "origin_addresses" : [ "460 Fell Street, San Francisco, CA 94102, USA" ],
           "rows" : [
              {
                 "elements" : [
                    {
                       "distance" : {
                          "text" : "3.6 km",
                          "value" : 3570
                       },
                       "duration" : {
                          "text" : "7 mins",
                          "value" : 402
                       },
                       "status" : "OK"
                    }
                 ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 15 Apr 2014 00:32:28 GMT
recorded_with: VCR 2.9.0
