/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
/*Red: ea2323
Blue: 23d1ef
Gray: e3e5e5*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

html a {
  background: #23d1ef;
}

html body {
  background: #fff;
  color: #333;
}

html body,
html .button {
  font-family: 'Roboto', sans-serif;
}

html header {
  background: #ea2323;
  color: #fff;
  text-shadow
  width: 100%;
  height: 10%;
  margin-bottom: 2%;
}

html header h1 {
  line-height: 250%;
}

html h1, html h2, html h3 {
  color: inherit;
  font-family: 'Roboto Slab', serif;
}


html input[type=text] {
  font-size: 1rem;
  height: 3.25rem;
}

html label {
  margin-bottom: .5rem;
  text-align: left;
}

html ol {
  text-align: left;
}

html .button {
  background: #23b7e0;
  color: #fff;
  text-shadow: 1px 1px #999;
}

html .button:hover {
  background: #e8eded;
  color: #23b7e0;
}

html .button-group {
  margin: 0 auto;
  width: 300px;
}

#map-canvas, #directions-panel {
  height: 50%;
  /*width: 35%;*/
  margin: 0 auto;
}

#map-canvas {
  margin-bottom: 1.65rem;
}

#business_container{
  margin-top: 2%;
}
