/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
/*Red: ea2323
Blue: 23d1ef
Gray: e3e5e5*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

html a {
  color: #23d1ef;
}

html body {
  background: #fff;
  color: #333;
}

html body,
html .button {
  font-family: 'Roboto', sans-serif;
}

html header {
  background: #ea2323;
  color: #fff;
  text-shadow
  width: 100%;
  margin-bottom: 2%;
}

html header h1 {
  line-height: 250%;
}

html header h1 a, html header h1 a:hover{
  color: #fff;
}

html h1, html h2, html h3 {
  color: inherit;
  font-family: 'Roboto Slab', serif;
}

html h2, html h2 small {
  font-size: 1.6875rem;
}

html input[type=text] {
  font-size: 1rem;
  height: 3.25rem;
}

html label {
  margin-bottom: .5rem;
  text-align: left;
}

html ol {
  text-align: left;
}

html .alert-box {
  border-style: none;
}

html .alert-box.alert {
  background-color: #ea2323;
}

html .alert-box.success {
  background-color: #24C775;
  border-style: none;
}

html .button {
  background: #23b7e0;
  color: #fff;
  text-shadow: 1px 1px #999;
  border-width: .05rem;
  border-color: #b7b7b5;
}

html .button:hover {
  background: #e8eded;
  color: #23b7e0;
}

html .button-group {
  margin: 0 auto;
  width: 300px;
}

html .pricing-table {
  border: 1px solid #fff;
}

html .pricing-table ol {
  margin: 0;
}

html .pricing-table .description {
  background-color: #f6f6f6;
  color: #333;
  font-size: 1rem;
}

html .pricing-table .bullet-item {
  border-bottom-color: #666;
}

html .pricing-table .price {
  font-family: Roboto, sans-serif;
}



html .pricing-table .title,
html .pricing-table .description,
html .pricing-table .bullet-item {
  text-align: left;
}

html .pricing-table .title {
  margin-bottom: 0;
}

#map-canvas, #directions-panel {
  height: 50%;
  margin: 0 auto;
}

#map-canvas {
  margin-bottom: 1.65rem;
}

.business_container {
  margin-top: 2rem;
}

.business_container.pricing-table .description{
  text-align: center;
  background-color: transparent;
  color: #777;
}

html .button.travelmode {
  background-color: #24C775;
}

html .button.travelmode:hover {
  color: #24C775;
  background-color: #e8eded;
  border-width: 1px;
  border-color: #24C775;
}

.marker {
  position: relative;
}

.marker h3 {
  background: #fff;
  color: #333;
  margin: auto;
  padding: 1rem;
  position: absolute;
  top: 40%;
  -webkit-transform-origin: 0 0;  /* Chrome, Safari 3.1+ */
   -o-transform-origin: 0 0;  /* Opera 10.50-12.00 */
      transform-origin: 0 0;  /* Firefox 16+, IE 10+, Opera 12.10+ */
-webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
     -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
        transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

html .button.travelmode.selected {
  color: #24C775;
  background-color: #e8eded;
  border-width: 1px;
  border-color: #24C775;
}

html #travelmode_label {
  background-color: #fff;
  color: #4d4d4d;
  font-size: 0.875rem;
  text-shadow: none;
  padding-bottom: 15px;
  padding-top: 20px; 
}

#submit_route {
  margin-top: 10px;  
}
