/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

/* Palette--
Red: ea2323
Blue: 23d1ef
Gray: e3e5e5
Green: 24C775
*/
/* icon fonts */
@font-face {
  font-family: 'icomoon';
  src:url('/fonts/icomoon.eot?b91s2s');
  src:url('/fonts/icomoon.eot?#iefixb91s2s') format('embedded-opentype'),
    url('/fonts/icomoon.woff?b91s2s') format('woff'),
    url('/fonts/icomoon.ttf?b91s2s') format('truetype'),
    url('/fonts/icomoon.svg?b91s2s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.walk:before {
  content: "\e600";
}
.icon.bike:before {
  content: "\e601";
}
.icon.drive:before {
  content: "\e602";
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: image-url('sprinkles.png');
  background-repeat:repeat-y;
}

html a {
  color: #23d1ef;
}

html body {
  background: #fff;
  color: #333;
  font-size: 20px;
}

html body,
html .button {
  font-family: 'Roboto', sans-serif;
}

html .button .icon {
  font-family: 'icomoon';
  font-style: normal;
  padding-right: .5rem;
}

html header {
  background: #ea2323;
  color: #fff;
  text-shadow
  width: 100%;
  margin-bottom: 3%;
}

html header h1 {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0px;
}

html header h1 a, html header h1 a:hover{
  color: #fff;
}

html h1, html h2, html h3 {
  color: inherit;
  font-family: 'Roboto Slab', serif;
}

html h2, html h2 small {
  font-size: 1.6875rem;
}

html input[type=text] {
  font-size: 1rem;
  height: 2.7rem;
}

html label {
  margin-bottom: .5rem;
  text-align: left;
}

html ol {
  text-align: left;
}

html .alert-box {
  border-style: none;
}

html .alert-box.alert {
  background-color: #ea2323;
}

html .alert-box.success {
  background-color: #24C775;
  border-style: none;
}

html .button {
  background: #23b7e0;
  color: #fff;
  text-shadow: 1px 1px #999;
  border-width: .05rem;
  border-color: #b7b7b5;
  padding: 20px;
  margin: 2px;
}

html .button:hover {
  background: #e8eded;
  border-width: 1px;
  border-color: #23b7e0;
  color: #23b7e0;
  text-shadow: none;
}

html .button-group {
  margin: 0 auto;
  width: 300px;
}

#current-location {
  float: left;
  padding-bottom: .8rem;
  font-size: 0.875em;
}

.google-marker {
  margin-right: 8px;
}

html .pricing-table {
  border: 1px solid #fff;
}

html .pricing-table ol {
  margin: 0;
}

html .pricing-table .description {
  background-color: #f6f6f6;
  color: #333;
  font-size: 1rem;
}

html .pricing-table .bullet-item {
  border-bottom-color: #666;
}

html .pricing-table .price {
  font-family: Roboto, sans-serif;
}


html .pricing-table .title,
html .pricing-table .description,
html .pricing-table .bullet-item {
  text-align: left;
}

html .pricing-table .title {
  margin-bottom: 0;
}

#directions-panel {
  margin: 1.5rem 0;
}

html #directions-panel .adp .adp-directions {
  margin: 1.5rem 0;
  width: 100%;
}

html #directions-panel .adp-placemark td {
  min-width: 50px;
}

#map-canvas {
  height: 50%;
  margin: auto;
}

#map-canvas {
  margin-bottom: 1.65rem;
}


.business-container{
  margin-top: 2rem;
}

.business-container.pricing-table .description,
.business-container.pricing-table .cta-button {
  background: transparent;
}

.business-container.pricing-table .cta-button form {
  margin-bottom: .5rem;
}

.business-container.pricing-table .description {
  text-align: center;
  color: #777;
}



html .button.travelmode {
  background-color: #24C775;
  border-color: #24C775;
}

html .button.travelmode:hover {
  color: #24C775;
  background-color: #e8eded;
  border-width: 1px;
  border-color: #24C775;
  text-shadow: none;
}


html .button.travelmode.selected {
  color: #24C775;
  background-color: #e8eded;
  border-width: 1px;
  border-color: #24C775;
  text-shadow: none;
}

html #travelmode_label {
  background-color: #fff;
  color: #4d4d4d;
  font-size: 20px;
  text-shadow: none;
  padding-bottom: 15px;
  padding-top: 20px;
}

#submit_route {
  margin-top: 25px;
}

html #errands-form{
  margin: 20px;

}

.trip_details {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}


.trip_details h2 {
  padding: 8px;
  margin-bottom: 8px;
  font-size: 26px;
}

html .trip_details ol {
  text-align: center;
  font-size: 20px;
  color: #6b6b6b;
  font-weight: 500;
  list-style-type: none;
}

.address {
  font-size: 20px;
  color: #6b6b6b;
  font-weight: 500;
}

.address.detail {
  font-size: 17px;
  color: #6b6b6b;
  font-weight: 400;
}


p .disclaimer {
  font-size: 20px;
  margin: 20px;

}

footer {
  margin-top: 50px;
  font-size: 15px;
  background-color: #6b6b6b;
  color: white;
}

footer p {
  margin: 0;
  padding: 1rem 0;
}
